/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Header related style */
.header {
    background-color: #E554731A;
}

.banner {
    padding: 60px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    max-width: 585px;
    padding: 32px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Bonus section */
.types-of-flowers-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.featured-flowers {
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.types-of-flowers {
    text-align: center;
}