/* common shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Header related style */
.header {
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner .banner-pic {
    width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    max-width: 585px;
    padding: 30px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.main-section1 {
    max-width: 1140px;
    margin: 0 auto;
    /* justify-content: center; */
}

.main-section2 {
    margin: 130px;
}

.featured-flowers {
    padding: 30px;
    border-radius: 10px;
    margin: 0px 230px;
}

.featured-flowers-text {
    margin: 100px 80px;
}

.types-of-flowers-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0px 240px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    width: 594px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.types-of-flowers {
    text-align: center;
    padding: 26px;
    width: 342px;
    height: 396px;
}

.hot-deal-container {
    display: flex;
    background-color: #E554730D;
    justify-content: space-around;
    /* max-width: 1140px; */
    margin: 0 auto;
    margin-top: 40px;
}
.hot-deal-items{
    margin: 40px 30px;
    justify-content: center;
}
/* .hot-deal{
    margin: 130px;
} */
input {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    padding: 10px 30px;
    color: #FFFFFF;
    border: 0;
    width: 50%;
    height: 34px;
}

.latest-deals {
    background-image: url("../images/Rectangle\ 9.png");
    /* width: 1440px; */
    height: 100%;
    background-position: center;
    padding: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

.latest-deals>form {
    padding-left: 20%;
}

.bonus {
    display: flex;
    /* padding: 10%; */
    margin: 130px;
    margin: 0 auto;
    max-width: 1140px;
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}

.bonus-content {
    display: flex;
    margin: 130px;
}

.bonus-form-bg {
    background-color: lightgray;
    padding: 5%;
    opacity: 70%;
    color: black;
}

.btn-bonus {
    border-radius: 8px;
    background: cadetblue;
    border: 0;
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 25px;
    justify-content: right;
}

footer {
    gap: 100px;
    background: #111010;
    padding: 130px 200px;
    margin-top: 100px;
    /* background-color: #111010; */
}

#pink-word {
    color: #E55473;
}

.footer-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.footer-description {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

small {
    color: #FFFFFF66;
}

.extra-part-container {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    gap: 24px;
    background-color: #2727270D;
    /* margin-top: 50px; */
    padding: 50px 100px;
    padding-left: 25%;
}

.extra-part-container>img {
    padding-left: 10%;
    align-items: center;
}